<style>
    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    *{
        font-family: 'Press Start 2P', cursive;
    }
    .login{
        background: transparent;
        height: 257px;
        margin: 20px auto 0;
        width: 298px;
    }
    input[type="submit"]{
        color: white;
        background: transparent;
        width: 240px;
        height: 70px;
        display: block;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        padding-top: 6px;
        margin: 32px 0 0 32px;
        position: relative;
        cursor:pointer;
        border: 1px solid white;
    }
    input[name="loginButton"]{
        width: 280px;
    }
</style>
<div class="login">
    <input type="submit" value="Just Play" name="playButton">
    <input type="submit" value="Sign in/Sign Up" name="loginButton"> 
</div>